/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2 Jun, 2021, 11:54:39 AM
    Author     : 91868
*/

body{
    background-image: url("hh.jpg");
    font-weight: bold;
    text-align: center;
}

.sign{
    border :1px solid green;
    border-width: 2px;
   
     color:black;
    
}